<div
  style="
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
  "
>
  <svg width="500" height="300" viewBox="0 200 500 302">
    <!--Main Panel-->
    <path
      [attr.d]="Microwave.MainPanel[0]"
      style="fill: black; stroke: var(--light); stroke-width: 3"
    ></path>
    <rect
      width="350"
      height="200"
      x="25"
      y="275"
      rx="10"
      ry="10"
      fill="white"
      style="stroke: var(--light); stroke-width: 5"
    />
    <ellipse
      _ngcontent-ng-c519640443=""
      rx="150"
      ry="30"
      cx="200"
      cy="430"
      style="stroke: rgb(36 223 57); fill: #5f8b97; stroke-width: 10"
    ></ellipse>
    <path
      [attr.d]="Microwave.MainPanel[1]"
      style="
        stroke: rgb(255, 251, 0);
        stroke-width: 0;
        fill: rgba(25, 25, 25, 0.7);
      "
    >
      <!-- <animate
        attributeName="fill"
        values="rgba(25, 25, 25, 0.7);rgba(255, 251, 0, 0.4);rgba(25, 25, 25, 0.7);"
        dur="2s"
        repeatCount="indefinite"
      /> -->
    </path>

    <!--Keypad Panel-->
    <path
      [attr.d]="Microwave.KeypadPanel[0]"
      style="fill: black; stroke: var(--light); stroke-width: 3"
    ></path>
    <rect
      width="75"
      height="140"
      x="412.5"
      y="275"
      rx="10"
      ry="10"
      fill="none"
      style="stroke: #544f43; stroke-width: 5"
    />
    <text x="425" y="300" fill="var(--light)" font-size="12">Cooking...</text>
    <line
      x1="412.5"
      y1="315"
      x2="487.5"
      y2="315"
      style="stroke: #544f43; stroke-width: 5"
    ></line>

    <rect
      width="75"
      height="40"
      x="412.5"
      y="435"
      rx="10"
      ry="10"
      fill="#6e6e6e"
      style="stroke: #544f43; stroke-width: 5"
    >
      <!-- <animate
        attributeName="fill"
        values="#A0968C;pink;seagreen"
        dur="1s"
        repeatCount="indefinite"
      /> -->
    </rect>

    <!--Top-->
    <path
      [attr.d]="Microwave.Top[0]"
      style="fill: #3b3838; stroke: white; stroke-width: 0.25"
    ></path>

    <path
      [attr.d]="Microwave.Top[1]"
      style="fill: #6e6e6e; stroke: rgb(0, 0, 0); stroke-width: 2"
    ></path>

    <path
      [attr.d]="Microwave.Outline"
      style="fill: none; stroke: deeppink; stroke-width: 0"
    ></path>
  </svg>
</div>
