<div
  style="
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
  "
>
  <div [routerLink]="'/microwave-svg'">Microwave SVG</div>
  <svg width="500" height="300" viewBox="0 200 500 300">
    <!--Main Panel-->
    <path [attr.d]="Microwave.MainPanel[0]" style="fill: #da684e"></path>
    <rect
      width="350"
      height="200"
      x="25"
      y="275"
      rx="10"
      ry="10"
      fill="crimson"
      style="stroke: aqua; stroke-width: 5"
    />
    <path
      [attr.d]="Microwave.MainPanel[1]"
      style="
        stroke: rgb(255, 251, 0);
        stroke-width: 0;
        fill: rgba(25, 25, 25, 0.7);
      "
    >
      <!-- <animate
        attributeName="fill"
        values="rgba(25, 25, 25, 0.7);rgba(255, 251, 0, 0.4);rgba(25, 25, 25, 0.7);"
        dur="2s"
        repeatCount="indefinite"
      /> -->
    </path>

    <!--Keypad Panel-->
    <path [attr.d]="Microwave.KeypadPanel[0]" style="fill: #ba4b3d"></path>
    <rect
      width="75"
      height="140"
      x="412.5"
      y="275"
      rx="10"
      ry="10"
      fill="none"
      style="stroke: #544f43; stroke-width: 5"
    />
    <text x="425" y="300" fill="black" font-size="12">Cooking...</text>
    <line
      x1="412.5"
      y1="315"
      x2="487.5"
      y2="315"
      style="stroke: #544f43; stroke-width: 5"
    ></line>

    <rect
      width="75"
      height="40"
      x="412.5"
      y="435"
      rx="10"
      ry="10"
      fill="#A0968C"
      style="stroke: #544f43; stroke-width: 5"
    >
      <!-- <animate
        attributeName="fill"
        values="#A0968C;pink;seagreen"
        dur="1s"
        repeatCount="indefinite"
      /> -->
    </rect>

    <!--Top-->
    <path
      [attr.d]="Microwave.Top[0]"
      style="fill: grey; stroke: white; stroke-width: 0.25"
    ></path>

    <path
      [attr.d]="Microwave.Top[1]"
      style="fill: grey; stroke: rgb(0, 0, 0); stroke-width: 0.25"
    ></path>

    <path
      [attr.d]="Microwave.Outline"
      style="fill: none; stroke: deeppink; stroke-width: 5"
    ></path>
  </svg>
  <!-- <svg width="400" height="400" viewBox="0 0 100 100">
    <path
      [attr.d]="Microwave.WholeImageOutline"
      style="fill: none; stroke: deeppink; stroke-width: 2"
    ></path>
    <path
      [attr.d]="Microwave.Top"
      style="fill: grey; stroke: white; stroke-width: 0.25"
    ></path>
    <path
      [attr.d]="Microwave.WindowPanel[0]"
      style="fill: rgb(177, 63, 63); stroke: red; stroke-width: 0.25"
    ></path>
    <path
      [attr.d]="Microwave.WindowPanel[1]"
      style="
        fill: rgba(24, 24, 24, 0.7);
        stroke: rgb(107, 33, 33);
        stroke-width: 0.25;
      "
    ></path>
    <ellipse
      rx="5"
      ry="1.5"
      cx="8"
      cy="15"
      style="stroke: rgb(73, 20, 220); fill: red; stroke-width: 0.5"
    ></ellipse>
    <path
      [attr.d]="Microwave.KeypadPanel"
      style="fill: #bd4b3d; stroke: #bd4b3d; stroke-width: 0.25"
    ></path>
    <path
      [attr.d]="Microwave.Keypad[0]"
      style="fill: #bd4b3d; stroke: #544f43; stroke-width: 0.25"
    ></path>
    <path
      [attr.d]="Microwave.Keypad[1]"
      style="fill: #bd4b3d; stroke: #544f43; stroke-width: 0.25"
    ></path>
    <circle r=".25" cx="17.5" cy="5.5" fill="black" />
    <circle r=".25" cx="18.5" cy="5.5" fill="black" />
    <circle r=".25" cx="17.5" cy="6.5" fill="black" />
    <circle r=".25" cx="18.5" cy="6.5" fill="black" />

    <path
      [attr.d]="Microwave.Outline"
      style="fill: none; stroke: crimson; stroke-width: 0.25"
    ></path>
    <path
      [attr.d]="Microwave"
      style="fill: none; stroke: black; stroke-width: 3"
    ></path>
  </svg> -->
</div>
