<div class="page-container">
  <svg class="microwave" viewBox="0 199 500 302">
    <path
      [attr.d]="SVG.MainPanel[0]"
      style="fill: black; stroke: var(--light); stroke-width: 3"
    ></path>
    <rect
      width="350"
      height="200"
      x="25"
      y="275"
      rx="10"
      ry="10"
      fill="white"
      style="stroke: var(--light); stroke-width: 5"
    />
    <ellipse
      _ngcontent-ng-c519640443=""
      rx="150"
      ry="30"
      cx="200"
      cy="430"
      style="stroke: rgb(36 223 57); fill: #5f8b97; stroke-width: 10"
    ></ellipse>
    <a
      [style.cursor]="
        Configuration.CookStatus === CookStatusEnum.Cookin &&
        !Microwave.List[0].Checked.includes(Parts.Interior)
          ? 'pointer'
          : 'auto'
      "
      (click)="
        !Microwave.List[0].Checked.includes(Parts.Interior)
          ? Microwave.Search($event, 'Interior')
          : null
      "
    >
      <path
        [attr.d]="SVG.MainPanel[1]"
        style="
          stroke: rgb(255, 251, 0);
          stroke-width: 0;
          fill: rgba(25, 25, 25, 0.7);
        "
      ></path>
    </a>

    <path
      [attr.d]="SVG.KeypadPanel[0]"
      style="fill: black; stroke: var(--light); stroke-width: 3"
    ></path>
    <rect
      width="75"
      height="140"
      x="412.5"
      y="275"
      rx="10"
      ry="10"
      fill="none"
      style="stroke: #544f43; stroke-width: 5"
    />
    @if (Microwave.List.length > 0) {
    <text x="425" y="300" fill="var(--light)" font-size="11">
      @switch (Microwave.List[0].Completed) { @case (CompletionEnum.InProgress)
      { Cookin... } @case (CompletionEnum.Completed) { Done... } @default { } }
    </text>
    }
    <line
      x1="412.5"
      y1="315"
      x2="487.5"
      y2="315"
      style="stroke: #544f43; stroke-width: 5"
    ></line>

    <rect
      width="75"
      height="40"
      x="412.5"
      y="435"
      rx="10"
      ry="10"
      fill="#6e6e6e"
      style="stroke: #544f43; stroke-width: 5"
    ></rect>

    <path
      [attr.d]="SVG.Top[0]"
      style="fill: #3b3838; stroke: var(--light); stroke-width: 3"
    ></path>
    <a
      [style.cursor]="
        Configuration.CookStatus === CookStatusEnum.Cookin &&
        !Microwave.List[0].Checked.includes(Parts.Vent)
          ? 'pointer'
          : 'auto'
      "
      (click)="
        !Microwave.List[0].Checked.includes(Parts.Vent)
          ? Microwave.Search($event, 'Vent')
          : null
      "
    >
      <path
        [attr.d]="SVG.Top[1]"
        style="fill: #6e6e6e; stroke: rgb(0, 0, 0); stroke-width: 2"
      ></path>
    </a>

    <path
      [attr.d]="SVG.Outline"
      style="fill: none; stroke: deeppink; stroke-width: 0"
    ></path>
  </svg>

  <div class="list-container">
    <div class="action-header">
      <div class="color-light">Traveler List</div>
      @if (Configuration.CookStatus !== CookStatusEnum.Idle) {
      <button mat-icon-button (click)="People.Reset(); Microwave.Reset()">
        <mat-icon>refresh</mat-icon>
      </button>
      }
      <button
        mat-icon-button
        [disabled]="Configuration.CookStatus !== CookStatusEnum.Idle"
        (click)="People.Add_Person.Execute()"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="Microwave.Shuffle()"
        matTooltip="Re-Shuffle"
      >
        <mat-icon>shuffle</mat-icon>
      </button>
    </div>
    <div class="traveler-entries">
      @for (person of People.List; track person) {
      <div
        class="traveler-entry"
        [class.border-light]="People.Selected.Person === person"
        (click)="People.Selected.Execute(person)"
      >
        <button
          mat-icon-button
          class="color-crimson"
          [disabled]="People.Selected.Person !== person"
          (click)="People.Remove_Person(person)"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
            grid-column: 2 / span 2;
          "
        >
          <div>{{ person.Name | uppercase }}</div>
        </div>

        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
          "
        >
          <div style="color: #00ee00">
            {{ person.Minutes }} :
            {{
              Configuration.DigitSplit(person.Minutes, person.Seconds)
                .slice(2, 4)
                .join("")
            }}
          </div>
          <button
            mat-icon-button
            class="button-timer"
            [disabled]="
              People.Selected.Person !== person ||
              Configuration.CookStatus !== CookStatusEnum.Idle
            "
            (click)="Timer.Launch(person)"
          >
            <mat-icon>schedule</mat-icon>
          </button>
        </div>
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
          "
        >
          @if (Configuration.CookStatus !== CookStatusEnum.Idle) {
          <button
            mat-icon-button
            class="button-skip"
            [disabled]="
              !$first ||
              [CookStatusEnum.Idle].includes(Configuration.CookStatus)
            "
            (click)="Actions.Skip(person)"
          >
            <mat-icon>skip_next</mat-icon>
          </button>
          @if ( person.Completed === CompletionEnum.NA) {
          <button
            mat-icon-button
            class="button-complete"
            [disabled]="
              !$first ||
              [CookStatusEnum.Idle].includes(Configuration.CookStatus)
            "
            matTooltip="Nuke it..."
            (click)="Actions.Start(person)"
          >
            <mat-icon>start</mat-icon>
          </button>
          } @else if ( person.Completed === CompletionEnum.InProgress) {
          <button
            mat-icon-button
            class="button-complete"
            [disabled]="
              !$first ||
              [CookStatusEnum.Idle].includes(Configuration.CookStatus)
            "
            matTooltip="Use Radaway"
            (click)="Actions.Complete(person)"
          >
            <mat-icon>verified</mat-icon>
          </button>
          } }
        </div>
      </div>
      }
    </div>

    <!-- <div class="sidebar">
    <div class="header">
      <div class="color-light">People</div>
      @if (Configuration.CookStatus !== CookStatusEnum.Idle) {
      <button mat-raised-button (click)="People.Reset(); Microwave.Reset()">
        Reset / New Day
      </button>
      }
      <button
        mat-icon-button
        [disabled]="Configuration.CookStatus !== CookStatusEnum.Idle"
        (click)="People.Add_Person.Execute()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="people-list">
      @for (person of People.List; track person) {
      <div
        class="person-entry"
        [class.border-light]="People.Selected.Person === person"
        (click)="People.Selected.Execute(person)"
      >
        <button
          mat-icon-button
          class="button-remove-person"
          [disabled]="People.Selected.Person !== person"
          (click)="People.Remove_Person(person)"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
            grid-column: 2 / span 2;
          "
        >
          <div>{{ person.Name | uppercase }}</div>
        </div>

        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
          "
        >
          <div style="color: #00ee00">
            {{ person.Minutes }} :
            {{
              Configuration.DigitSplit(person.Minutes, person.Seconds)
                .slice(2, 4)
                .join("")
            }}
          </div>
          <button
            mat-icon-button
            class="button-timer"
            [disabled]="
              People.Selected.Person !== person ||
              Configuration.CookStatus !== CookStatusEnum.Idle
            "
            (click)="Timer.Launch(person)"
          >
            <mat-icon>schedule</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
    <div class="footer">
      @if (Configuration.CookStatus === CookStatusEnum.Idle) {
      <div
        class="button-shuffle"
        (click)="People.Reset(); Microwave.Shuffle(); Microwave.Start()"
      >
        Shuffle & Start
      </div>
      }
    </div>
  </div> -->

    <!-- <div class="cook-start-time">
    <div
      style="
        height: calc(50px + 1rem);
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0px 1rem;
        background-color: black;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        "
      >
        @for (i of Microwave.StartTime.ToDigitArray()().slice(0, 2); track
        $index) {
        <ng-container
          *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
        ></ng-container>
        }
      </div>
      <div style="color: white; font-weight: bolder; font-size: 2rem">:</div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        "
      >
        @for (i of Microwave.StartTime.ToDigitArray()().slice(2, 4); track
        $index) {
        <ng-container
          *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
        ></ng-container>
        }
      </div>
    </div>
  </div> -->

    <!-- <div class="microwave-container">
    <svg width="500" height="300" viewBox="0 199 500 302">

      <path
        [attr.d]="SVG.MainPanel[0]"
        style="fill: black; stroke: var(--light); stroke-width: 3"
      ></path>
      <rect
        width="350"
        height="200"
        x="25"
        y="275"
        rx="10"
        ry="10"
        fill="white"
        style="stroke: var(--light); stroke-width: 5"
      />
      <ellipse
        _ngcontent-ng-c519640443=""
        rx="150"
        ry="30"
        cx="200"
        cy="430"
        style="stroke: rgb(36 223 57); fill: #5f8b97; stroke-width: 10"
      ></ellipse>
      <a
        [style.cursor]="
          Configuration.CookStatus === CookStatusEnum.Cookin &&
          !Microwave.List[0].Checked.includes(Parts.Interior)
            ? 'pointer'
            : 'auto'
        "
        (click)="
          !Microwave.List[0].Checked.includes(Parts.Interior)
            ? Microwave.Search($event, 'Interior')
            : null
        "
      >
        <path
          [attr.d]="SVG.MainPanel[1]"
          style="
            stroke: rgb(255, 251, 0);
            stroke-width: 0;
            fill: rgba(25, 25, 25, 0.7);
          "
        ></path>
      </a>

      <path
        [attr.d]="SVG.KeypadPanel[0]"
        style="fill: black; stroke: var(--light); stroke-width: 3"
      ></path>
      <rect
        width="75"
        height="140"
        x="412.5"
        y="275"
        rx="10"
        ry="10"
        fill="none"
        style="stroke: #544f43; stroke-width: 5"
      />
      @if (Microwave.List.length > 0) {
      <text x="425" y="300" fill="var(--light)" font-size="11">
        @switch (Microwave.List[0].Completed) { @case
        (CompletionEnum.InProgress) { Cookin... } @case
        (CompletionEnum.Completed) { Done... } @default { } }
      </text>
      }
      <line
        x1="412.5"
        y1="315"
        x2="487.5"
        y2="315"
        style="stroke: #544f43; stroke-width: 5"
      ></line>

      <rect
        width="75"
        height="40"
        x="412.5"
        y="435"
        rx="10"
        ry="10"
        fill="#6e6e6e"
        style="stroke: #544f43; stroke-width: 5"
      ></rect>

      <path
        [attr.d]="SVG.Top[0]"
        style="fill: #3b3838; stroke: var(--light); stroke-width: 3"
      ></path>
      <a
        [style.cursor]="
          Configuration.CookStatus === CookStatusEnum.Cookin &&
          !Microwave.List[0].Checked.includes(Parts.Vent)
            ? 'pointer'
            : 'auto'
        "
        (click)="
          !Microwave.List[0].Checked.includes(Parts.Vent)
            ? Microwave.Search($event, 'Vent')
            : null
        "
      >
        <path
          [attr.d]="SVG.Top[1]"
          style="fill: #6e6e6e; stroke: rgb(0, 0, 0); stroke-width: 2"
        ></path>
      </a>

      <path
        [attr.d]="SVG.Outline"
        style="fill: none; stroke: deeppink; stroke-width: 0"
      ></path>
    </svg>
  </div>
  @if (Configuration.CookStatus !== CookStatusEnum.Idle) {
  <div class="sidebar end-sidebar">
    <div class="header">
      <div>Cookin</div>
      <button
        mat-icon-button
        (click)="Microwave.Shuffle()"
        matTooltip="Re-Shuffle"
      >
        <mat-icon>shuffle</mat-icon>
      </button>
    </div>
    <div class="people-list">
      @for (person of Microwave.List; track person) {
      <div class="person-entry" [class.border-light]="$first">
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
            grid-column: 1 / span 2;
          "
        >
          <div>{{ person.Name | uppercase }}</div>
          <div style="color: #00ee00">
            {{ person.Minutes }} :
            {{
              Configuration.DigitSplit(person.Minutes, person.Seconds)
                .slice(2, 4)
                .join("")
            }}
          </div>

          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              gap: 0.25rem;
            "
          >
            <button
              mat-icon-button
              class="button-skip"
              [disabled]="
                !$first ||
                [CookStatusEnum.Idle].includes(Configuration.CookStatus)
              "
              (click)="Actions.Skip(person)"
            >
              <mat-icon>skip_next</mat-icon>
            </button>
            @if (person.Completed === CompletionEnum.NA) {
            <button
              mat-icon-button
              class="button-complete"
              [disabled]="
                !$first ||
                [CookStatusEnum.Idle].includes(Configuration.CookStatus)
              "
              matTooltip="Nuke it..."
              (click)="Actions.Start(person)"
            >
              <mat-icon>start</mat-icon>
            </button>
            } @else if (person.Completed === CompletionEnum.InProgress) {
            <button
              mat-icon-button
              class="button-complete"
              [disabled]="
                !$first ||
                [CookStatusEnum.Idle].includes(Configuration.CookStatus)
              "
              matTooltip="Use Radaway"
              (click)="Actions.Complete(person)"
            >
              <mat-icon>verified</mat-icon>
            </button>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  } -->
  </div>

  <ng-template #AddPersonTemplate>
    <mat-toolbar>Add Person</mat-toolbar>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        [(ngModel)]="People.Add_Person.Name"
        (keyup.enter)="People.Add_Person.Close(true)"
      />
    </mat-form-field>
    <div
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      "
    >
      <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button [mat-dialog-close]="true">Add Person</button>
    </div>
  </ng-template>

  <ng-template #TimerTemplate>
    <div
      style="
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.5rem;
        background-color: black;
        padding: 0.5rem;
      "
    >
      <!--Digital Display-->
      <div
        style="
          grid-column: 1 / span 3;
          height: calc(50px + 1rem);
          border: 1px solid white;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
          padding: 0px 1rem;
        "
      >
        <div style="flex-grow: 1"></div>
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
          "
        >
          @for (i of Timer.Code.slice(0, 2); track $index) {
          <ng-container
            *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
          ></ng-container>
          }
        </div>
        <div style="color: white; font-weight: bolder; font-size: 2rem">:</div>
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
          "
        >
          @for (i of Timer.Code.slice(2, 4); track $index) {
          <ng-container
            *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
          ></ng-container>
          }
        </div>
      </div>
      <!--Keypad Buttons-->
      @for (i of [1,2,3,4,5,6,7,8,9]; track i) {
      <button
        mat-raised-button
        style="background-color: black; color: white; border: 1px solid white"
        (click)="Timer.AddTime(i)"
      >
        {{ i }}
      </button>
      }
      <button
        mat-raised-button
        style="background-color: black; color: white; border: 1px solid crimson"
        (click)="Timer.ClearTime()"
      >
        Clear
      </button>
      <button
        mat-raised-button
        style="background-color: black; color: white; border: 1px solid white"
        (click)="Timer.AddTime(0)"
      >
        0
      </button>
      <button
        mat-raised-button
        style="
          background-color: black;
          color: white;
          border: 1px solid seagreen;
        "
        [mat-dialog-close]="true"
      >
        Enter
      </button>
    </div>
  </ng-template>

  <ng-template #DigitalLetterTemplate let-text let-digit="digit">
    <div class="digit-container">
      <div
        class="line line-0"
        [class.selected]="[0, 2, 3, 5, 6, 7, 8, 9].includes(digit)"
      ></div>
      <div
        class="line line-1"
        [class.selected]="[0, 1, 2, 3, 4, 7, 8, 9].includes(digit)"
      ></div>
      <div
        class="line line-2"
        [class.selected]="[0, 1, 3, 4, 5, 6, 7, 8, 9].includes(digit)"
      ></div>
      <div
        class="line line-3"
        [class.selected]="[0, 2, 3, 5, 6, 8, 9].includes(digit)"
      ></div>
      <div
        class="line line-4"
        [class.selected]="[0, 2, 6, 8].includes(digit)"
      ></div>
      <div
        class="line line-5"
        [class.selected]="[0, 4, 5, 6, 8, 9].includes(digit)"
      ></div>
      <div
        class="line line-6"
        [class.selected]="[2, 3, 4, 5, 6, 8, 9].includes(digit)"
      ></div>
    </div>
  </ng-template>

  <ng-template #StartMicrowave>
    <div class="part-button nuke" (click)="Actions.Start(null)">
      <mat-icon>thumb_up_alt</mat-icon>
      Nuke it...
    </div>
  </ng-template>

  <ng-template #MicrowaveVentTemplate>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-y: hidden;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
      "
    >
      <div
        class="part-button search"
        [class.checked]="Microwave.List[0].Checked.includes(Parts.Vent)"
        (click)="
          !Microwave.List[0].Checked.includes(Parts.Vent)
            ? Microwave.Sabotage.Fix(Parts.Vent)
            : null
        "
      >
        <mat-icon>handyman</mat-icon>
        {{
          Microwave.List[0].Checked.includes(Parts.Vent)
            ? "Vent Checked"
            : "Check Vent for dust"
        }}
      </div>
      <div
        class="part-button sabotage"
        [class.enabled]="Microwave.Sabotage.Reminders.includes(Parts.Vent)"
        (click)="Microwave.Sabotage.ChangeReminders(Parts.Vent)"
      >
        <mat-icon>local_fire_department</mat-icon>
        Stuff vent with gas soaked lint...
      </div>
      <ng-container *ngTemplateOutlet="StartMicrowave"></ng-container>
    </div>
  </ng-template>

  <ng-template #MicrowaveInteriorTemplate>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-y: hidden;
        width: 100%;
        gap: 1rem;
        padding: 1rem;
      "
    >
      <div
        class="part-button search"
        [class.checked]="Microwave.List[0].Checked.includes(Parts.Interior)"
        (click)="
          !Microwave.List[0].Checked.includes(Parts.Interior)
            ? Microwave.Sabotage.Fix(Parts.Interior)
            : null
        "
      >
        <mat-icon>handyman</mat-icon>
        {{
          Microwave.List[0].Checked.includes(Parts.Interior)
            ? "Interior Checked"
            : "Check Interior"
        }}
      </div>
      <div
        class="part-button sabotage"
        [class.enabled]="Microwave.Sabotage.Reminders.includes(Parts.Interior)"
        (click)="Microwave.Sabotage.ChangeReminders(Parts.Interior)"
      >
        <mat-icon>radio</mat-icon>
        Hide piece of metal inside...
      </div>
      <ng-container *ngTemplateOutlet="StartMicrowave"></ng-container>
    </div>
  </ng-template>

  <ng-template #MobileList>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: green;
      "
    ></div>
  </ng-template>
</div>
