<div class="app-container">
  <mat-toolbar>
    <div style="cursor: pointer" routerLink="/home">Nuke Machine</div>
    <div style="flex-grow: 1"></div>
    <div style="cursor: pointer" routerLink="/about">About</div>
  </mat-toolbar>
  <router-outlet />
</div>

<!-- TO BUILD -->
<!--ng build --base-href "https://tyler-w-osborne.github.io/humble-office-microwave/"-->
<!--npx angular-cli-ghpages --dir=docs-->

<!--all together-->
<!-- ng build --base-href "https://tyler-w-osborne.github.io/humble-office-microwave/" && npx angular-cli-ghpages --dir=docs && git add . && git commit -m "changes" && git push origin main -->
