<div class="app-container">
  <div class="toolbar">
    <div style="cursor: pointer" routerLink="/home">Time Machine</div>
    <div style="flex-grow: 1"></div>
    <div style="cursor: pointer" routerLink="/about">About</div>
  </div>
  <div class="page-container">
    <router-outlet />
  </div>
</div>

<!-- TO BUILD -->
<!--ng build --base-href "https://tyler-w-osborne.github.io/humble-office-microwave/"-->
<!--npx angular-cli-ghpages --dir=docs-->

<!--all together-->
<!-- ng build --base-href "https://tyler-w-osborne.github.io/humble-office-microwave/" && npx angular-cli-ghpages --dir=docs && git add . && git commit -m "changes" && git push origin main -->
