/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

div {
  color: white;
}

.custom-dialog div.mat-mdc-dialog-surface {
  background-color: cyan;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.custom-dialog-action-list div.mat-mdc-dialog-surface {
  background-color: black;
  border-radius: 0.5rem;
  padding: 0;
}

.custom-dialog-action-list mat-dialog-container {
  min-width: 125px;
  width: 125px;
  margin: auto;
}

button.mat-mdc-raised-button {
  border-radius: 0.5rem;
}

:root {
  --mat-toolbar-standard-height: 32px;
}
