.home-container {
  height: 100%;
  display: grid;
  grid-template-columns: 25vw repeat(3, minmax(0, 1fr)) 25vw;
  gap: 1rem;
  background-color: teal;
}

.people-list {
  display: flex;
  flex-direction: column;
  background-color: darksalmon;
  padding: 0.5rem;
}

.people-list > .header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0.5rem;
}

.people-list > .person-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
}

.microwave-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / span 3;
}

.microwave {
  background-image: url("../assets/microwave.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 350px;
}

.digit-container {
  position: relative;
  height: 45px;
  width: 27px;
  /* border: 1px solid white; */
}

/* .line {
  background-color: rgb(29, 37, 37);
  height: 15px;
  width: 15px;
  position: absolute;
}

.line-0 {
  top: 0;
  left: 5px;
  height: 5px;
  width: 25px;
}

.line-1 {
  top: 5px;
  left: 20px;
  width: 5px;
}

.line-2 {
  top: 25px;
  left: 20px;
  width: 5px;
}

.line-3 {
  bottom: 0;
  left: 5px;
  height: 5px;
}

.line-4 {
  top: 25px;
  left: 0;
  width: 5px;
}

.line-5 {
  top: 5px;
  left: 0;
  width: 5px;
}

.line-6 {
  top: 20px;
  left: 5px;
  height: 5px;
} */

.line {
  background-color: rgb(29, 37, 37);
  height: 25px;
  width: 25px;
  position: absolute;
}

.line-0 {
  top: 0;
  /* left: 5px; */
  left: 0px;
  height: 5px;
  clip-path: polygon(0 0, 100% 0, 20px 100%, 5px 100%);
}

.line-1 {
  top: 0;
  left: 20px;
  width: 5px;
  /* clip-path: polygon(0 5px, 100% 0, 100% 100%, 0 20px); */
  clip-path: polygon(0 5px, 100% 0, 100% 100%, 0 22.5px);
}

.line-2 {
  top: 25px;
  left: 20px;
  width: 5px;
  /* clip-path: polygon(0 5px, 100% 0, 100% 100%, 0 20px); */
  clip-path: polygon(0 2.5px, 100% 0, 100% 100%, 0 20px);
}

.line-3 {
  top: 45px;
  left: 0;
  height: 5px;
  clip-path: polygon(5px 0, 20px 0, 100% 100%, 0 100%);
}

.line-4 {
  top: 25px;
  left: 0;
  width: 5px;
  /* clip-path: polygon(0 0, 5px 5px, 100% 20px, 0 100%); */
  clip-path: polygon(0 0, 5px 2.5px, 100% 20px, 0 100%);
}

.line-5 {
  top: 0;
  left: 0;
  width: 5px;
  /* clip-path: polygon(0 0, 5px 5px, 100% 20px, 0 100%); */
  clip-path: polygon(0 0, 5px 5px, 100% 22.5px, 0 100%);
}

.line-6 {
  top: 22.5px;
  left: 0;
  height: 10px;
  clip-path: polygon(0 2.5px, 5px 0, 20px 0, 25px 2.5px, 20px 5px, 5px 5px);
}

.line.selected {
  background-color: chartreuse;
}
