<div class="home-container">
  <div class="sidebar">
    <div class="header">
      <div>People</div>
      @if (Configuration.CookStatus !== CookStatusEnum.Idle) {
      <button mat-raised-button (click)="People.Reset(); Microwave.Reset()">
        Reset / New Day
      </button>
      }
      <button mat-icon-button (click)="People.Add_Person.Execute()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="people-list">
      @for (person of People.List; track person) {
      <div
        class="person-entry"
        [style.background-color]="
          People.Selected.Person === person ? 'black' : 'salmon'
        "
        (click)="People.Selected.Execute(person)"
      >
        <button
          mat-icon-button
          class="button-remove-person"
          [disabled]="People.Selected.Person !== person"
          (click)="People.Remove_Person(person)"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
            grid-column: 2 / span 2;
          "
        >
          <div>{{ person.Name | uppercase }}</div>
        </div>

        <!--Actions-->
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
          "
        >
          <div style="color: chartreuse">
            {{ person.Minutes }} :
            {{
              Configuration.DigitSplit(person.Minutes, person.Seconds)
                .slice(2, 4)
                .join("")
            }}
            <!-- {{
              !!person.Seconds && person.Seconds.toString().length < 2
                ? "0" + person.Seconds.toString()
                : person.Seconds
            }} -->
          </div>
          <button
            mat-icon-button
            class="button-timer"
            [disabled]="
              People.Selected.Person !== person ||
              Configuration.CookStatus !== CookStatusEnum.Idle
            "
            (click)="Timer.Launch(person)"
          >
            <mat-icon>schedule</mat-icon>
          </button>
          <!-- <button
            mat-icon-button
            class="button-skip"
            [disabled]="
              People.Selected.Person !== person ||
              person.Completed !== CompletionEnum.NA
            "
            (click)="Actions.Skip(person)"
          >
            <mat-icon>skip_next</mat-icon>
          </button>
          <button
            mat-icon-button
            class="button-complete"
            [disabled]="
              People.Selected.Person !== person ||
              person.Completed !== CompletionEnum.NA
            "
            (click)="Actions.Complete(person)"
          >
            <mat-icon>verified</mat-icon>
          </button> -->
        </div>
      </div>
      }
    </div>
    <div class="footer">
      @if (Configuration.CookStatus === CookStatusEnum.Idle) {
      <div
        class="button-shuffle"
        (click)="People.Reset(); Microwave.Shuffle(); Microwave.Start()"
      >
        Shuffle & Start
      </div>
      }
    </div>
  </div>
  <div class="cook-start-time">
    <div
      style="
        height: calc(50px + 1rem);
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0px 1rem;
        background-color: black;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        "
      >
        @for (i of Microwave.StartTime.ToDigitArray()().slice(0, 2); track
        $index) {
        <ng-container
          *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
        ></ng-container>
        }
      </div>
      <div style="color: white; font-weight: bolder; font-size: 2rem">:</div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        "
      >
        @for (i of Microwave.StartTime.ToDigitArray()().slice(2, 4); track
        $index) {
        <ng-container
          *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
        ></ng-container>
        }
      </div>
    </div>
  </div>

  <!-- <div class="clock-container">
    <div class="clock">
      <div class="second hand"></div>
      <div class="minute hand"></div>
      <div class="hour hand"></div>
    </div>
  </div> -->
  <div class="microwave-container">
    <!--[matMenuTriggerFor]="MicrowaveMenu"-->
    <!-- <div class="microwave" usemap="#microwave_map_2"></div> -->
    <img class="microwave" src="assets/microwave.png" usemap="#microwave_map" />
    <map name="microwave_map">
      <!-- <area
        shape="circle"
        coords="100, 100, 10"
        (click)="alert('you did it!')"
      /> -->
      @if (Microwave.List.length > 0) {
      <area
        shape="poly"
        coords="7,110,23,126,23,171,7,151"
        [style.cursor]="
          Configuration.CookStatus === CookStatusEnum.Cookin &&
          !Microwave.List[0].Checked.includes(Parts.Vent)
            ? 'pointer'
            : 'auto'
        "
        (click)="
          !Microwave.List[0].Checked.includes(Parts.Vent)
            ? Microwave.Search($event, 'Vent')
            : null
        "
      />
      <area
        shape="poly"
        coords="79,79,251,69,248,164,82,176"
        [style.cursor]="
          Configuration.CookStatus === CookStatusEnum.Cookin &&
          !Microwave.List[0].Checked.includes(Parts.Interior)
            ? 'pointer'
            : 'auto'
        "
        (click)="
          !Microwave.List[0].Checked.includes(Parts.Interior)
            ? Microwave.Search($event, 'Interior')
            : null
        "
      />
      }
      <!-- <area
        shape="poly"
        coords="7,110,23,126,23,171,7,151"
        [matMenuTriggerFor]="Microwave_Vent"
      /> -->
    </map>

    <mat-menu #Microwave_Vent="matMenu">
      <div mat-menu-item>Check For Dust</div>
    </mat-menu>
    <!-- <map name="microwave_map_2">
      <area
        shape="poly"
        coords="100,100,200,200,300,300"
        [matMenuTriggerFor]="MicrowaveMenu"
      />
    </map> -->
    <!-- <button>Nuke It...</button> -->
  </div>
  @if (Configuration.CookStatus !== CookStatusEnum.Idle) {
  <div class="sidebar end-sidebar" style="grid-area: 1 / 5 / span 1 / span 1">
    <div class="header">
      <div>Cookin</div>
      <button
        mat-icon-button
        (click)="Microwave.Shuffle()"
        matTooltip="Re-Shuffle"
      >
        <mat-icon>shuffle</mat-icon>
      </button>
    </div>
    <div class="people-list">
      @for (person of Microwave.List; track person) {
      <div
        class="person-entry"
        [style.background-color]="$first ? 'blueviolet' : 'salmon'"
      >
        <div
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 0.25rem;
            grid-column: 1 / span 2;
          "
        >
          <div>{{ person.Name | uppercase }}</div>
          <div style="color: chartreuse">
            {{ person.Minutes }} :
            {{
              Configuration.DigitSplit(person.Minutes, person.Seconds)
                .slice(2, 4)
                .join("")
            }}
          </div>
          <!--Actions-->
          <div
            style="
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              gap: 0.25rem;
            "
          >
            <button
              mat-icon-button
              class="button-skip"
              [disabled]="
                !$first ||
                [CookStatusEnum.Idle].includes(Configuration.CookStatus)
              "
              (click)="Actions.Skip(person)"
            >
              <mat-icon>skip_next</mat-icon>
            </button>
            @if (person.Completed === CompletionEnum.NA) {
            <button
              mat-icon-button
              class="button-complete"
              [disabled]="
                !$first ||
                [CookStatusEnum.Idle].includes(Configuration.CookStatus)
              "
              matTooltip="Nuke it..."
              (click)="Actions.Start(person)"
            >
              <mat-icon>start</mat-icon>
            </button>
            } @else if (person.Completed === CompletionEnum.InProgress) {
            <button
              mat-icon-button
              class="button-complete"
              [disabled]="
                !$first ||
                [CookStatusEnum.Idle].includes(Configuration.CookStatus)
              "
              matTooltip="Use Radaway"
              (click)="Actions.Complete(person)"
            >
              <mat-icon>verified</mat-icon>
            </button>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  }
</div>

<ng-template #AddPersonTemplate>
  <mat-toolbar>Add Person</mat-toolbar>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="People.Add_Person.Name" />
  </mat-form-field>
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    "
  >
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true">Add Person</button>
  </div>
</ng-template>

<ng-template #TimerTemplate>
  <div
    style="
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 0.5rem;
      background-color: black;
      padding: 0.5rem;
    "
  >
    <!--Digital Display-->
    <div
      style="
        grid-column: 1 / span 3;
        height: calc(50px + 1rem);
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding: 0px 1rem;
      "
    >
      <div style="flex-grow: 1"></div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        "
      >
        @for (i of Timer.Code.slice(0, 2); track $index) {
        <ng-container
          *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
        ></ng-container>
        }
      </div>
      <div style="color: white; font-weight: bolder; font-size: 2rem">:</div>
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        "
      >
        @for (i of Timer.Code.slice(2, 4); track $index) {
        <ng-container
          *ngTemplateOutlet="DigitalLetterTemplate; context: { digit: i }"
        ></ng-container>
        }
      </div>
    </div>
    <!--Keypad Buttons-->
    @for (i of [1,2,3,4,5,6,7,8,9]; track i) {
    <button
      mat-raised-button
      style="background-color: black; color: white; border: 1px solid white"
      (click)="Timer.AddTime(i)"
    >
      {{ i }}
    </button>
    }
    <button
      mat-raised-button
      style="background-color: black; color: white; border: 1px solid crimson"
      (click)="Timer.ClearTime()"
    >
      Clear
    </button>
    <button
      mat-raised-button
      style="background-color: black; color: white; border: 1px solid white"
      (click)="Timer.AddTime(0)"
    >
      0
    </button>
    <button
      mat-raised-button
      style="background-color: black; color: white; border: 1px solid seagreen"
      [mat-dialog-close]="true"
    >
      Enter
    </button>
  </div>
</ng-template>

<ng-template #DigitalLetterTemplate let-text let-digit="digit">
  <!-- <div style="color: white">{{ text ?? digit }}</div> -->
  <div class="digit-container">
    <div
      class="line line-0"
      [class.selected]="[0, 2, 3, 5, 6, 7, 8, 9].includes(digit)"
    ></div>
    <div
      class="line line-1"
      [class.selected]="[0, 1, 2, 3, 4, 7, 8, 9].includes(digit)"
    ></div>
    <div
      class="line line-2"
      [class.selected]="[0, 1, 3, 4, 5, 6, 7, 8, 9].includes(digit)"
    ></div>
    <div
      class="line line-3"
      [class.selected]="[0, 2, 3, 5, 6, 8, 9].includes(digit)"
    ></div>
    <div
      class="line line-4"
      [class.selected]="[0, 2, 6, 8].includes(digit)"
    ></div>
    <div
      class="line line-5"
      [class.selected]="[0, 4, 5, 6, 8, 9].includes(digit)"
    ></div>
    <div
      class="line line-6"
      [class.selected]="[2, 3, 4, 5, 6, 8, 9].includes(digit)"
    ></div>
  </div>
</ng-template>

<mat-menu #MicrowaveMenu="matMenu">
  <div mat-menu-item>Check Microwave</div>
  <div mat-menu-item>Nuke It...</div>
</mat-menu>

<ng-template #StartMicrowave>
  <div class="part-button nuke" (click)="Actions.Start(null)">
    <mat-icon>thumb_up_alt</mat-icon>
    Nuke it...
  </div>
</ng-template>

<ng-template #MicrowaveVentTemplate>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow-y: hidden;
      width: 100%;
      gap: 1rem;
      padding: 1rem;
    "
  >
    <div
      class="part-button search"
      [class.checked]="Microwave.List[0].Checked.includes(Parts.Vent)"
      (click)="
        !Microwave.List[0].Checked.includes(Parts.Vent)
          ? Microwave.Sabotage.Fix(Parts.Vent)
          : null
      "
    >
      <mat-icon>handyman</mat-icon>
      {{
        Microwave.List[0].Checked.includes(Parts.Vent)
          ? "Vent Checked"
          : "Check Vent for dust"
      }}
    </div>
    <div
      class="part-button sabotage"
      [class.enabled]="Microwave.Sabotage.Reminders.includes(Parts.Vent)"
      (click)="Microwave.Sabotage.ChangeReminders(Parts.Vent)"
    >
      <mat-icon>local_fire_department</mat-icon>
      Stuff vent with gas soaked lint...
    </div>
    <ng-container *ngTemplateOutlet="StartMicrowave"></ng-container>
  </div>
</ng-template>

<ng-template #MicrowaveInteriorTemplate>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      overflow-y: hidden;
      width: 100%;
      gap: 1rem;
      padding: 1rem;
    "
  >
    <div
      class="part-button search"
      [class.checked]="Microwave.List[0].Checked.includes(Parts.Interior)"
      (click)="
        !Microwave.List[0].Checked.includes(Parts.Interior)
          ? Microwave.Sabotage.Fix(Parts.Interior)
          : null
      "
    >
      <mat-icon>handyman</mat-icon>
      {{
        Microwave.List[0].Checked.includes(Parts.Interior)
          ? "Interior Checked"
          : "Check Interior"
      }}
    </div>
    <div
      class="part-button sabotage"
      [class.enabled]="Microwave.Sabotage.Reminders.includes(Parts.Interior)"
      (click)="Microwave.Sabotage.ChangeReminders(Parts.Interior)"
    >
      <mat-icon>radio</mat-icon>
      Hide piece of metal inside...
    </div>
    <ng-container *ngTemplateOutlet="StartMicrowave"></ng-container>
  </div>
</ng-template>
